@{
    ViewBag.Title = "CAMaaS - Computer-Aided Modelling as a Service";
}
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>

<h2>INDEX</h2>

<div id="content"></div>
<script src="~/Scripts/app.js"></script>
<script type="text/babel" src="~/Scripts/app.jsx" >
</script>